div.container {
  position: relative;
      width:100%;
      height:540px;
}

div#FarBackground {
  position: absolute;
    width:100%;
    height:540px;
    margin:auto;
    /*background-image: url(../img/FarBackground.png);*/
    z-index: -5;
}

div#Clouds {
  position: absolute;
    width:100%;
    height:540px;
     margin:auto;
     background-image: url(../img/Clouds.png);
     z-index: -4;
 }

div#Background {
  position: absolute;
    width:100%;
    height:540px;
    margin:auto;
    background-image: url(../img/Background.png);
    z-index: -3;
}


div#Midground {
  position: absolute;
    width:100%;
    height:540px;
    margin:auto;
    background-image: url(../img/Midground.png);
    z-index: -2;
}

div#Foreground {
  position: absolute;
    width:100%;
    height:540px;
  margin:auto;
  background-image: url(../img/Foreground.png);
  z-index: -1;
 }

div#Rabbit {
    position: absolute;
    width:200px;
    height:200px;
    margin-top: 200px;
    margin-left: 100px;
    content: url(../img/rabbit.gif);
    z-index: 0;
}

div#Fox {
    position: absolute;
    right: 0;
    width:200px;
    height:200px;
    top: 200px;
    content: url(../img/fox.gif);
    z-index: 0;
}
<<<<<<< HEAD:css/rabbit.css
div#Timer {
    border: solid black 2px;
    background-color: #fff;
    font-size: 1.8em;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 25px;
    padding: 5px;
=======

div#RabbitHitbox {
  display: block;
  position: relative;
  left: 30px;
  top: 30px;
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
}

div#FoxHitbox {
  display: block;
  position: relative;
  left: 30px;
  top: 30px;
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
>>>>>>> origin/master:css/main.css
}
