div.container {
  position: relative;
      width:3300px;
      height:540px;
}

div#FarBackground {
  position: absolute;
    width:3000px;
    height:540px;
    margin:auto;
    background-image: url(../img/FarBackground.png);
    z-index: -5;
}

div#Clouds {
  position: absolute;
    width:3000px;
    height:540px;
     margin:auto;
     background-image: url(../img/Clouds.png);
     z-index: -4;
 }

div#Background {
  position: absolute;
    width:3000px;
    height:540px;
    margin:auto;
    background-image: url(../img/Background.png);
    z-index: -3;
}


div#Midground {
  position: absolute;
    width:3000px;
    height:540px;
    margin:auto;
    background-image: url(../img/Midground.png);
    z-index: -2;
}

div#Foreground {
  position: absolute;
    width:3000px;
    height:540px;
  margin:auto;
  background-image: url(../img/Foreground.png);
  z-index: -1;
 }

div#Rabbit {
    position: absolute;
    width:200px;
    height:200px;
    margin-top: 200px;
    content: url(../img/rabbit.gif);
    z-index: 0;
}

div#Fox {
    position: absolute;
    right: 0;
    width:200px;
    height:200px;
    top: 200px;
    content: url(../img/fox.gif);
    z-index: 0;
}
